:root {
  --theme-color-cream: #D4C7BD;
  --theme-color-cream-light: #F2EEEB;
  --theme-color-green: #353A24;
  --theme-color-blue: #32363B;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Roboto+Slab:wght@100;300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

